<div class="wrapper h-100">
    <ng-container *ngIf="type=='table'">
        <app-table [(tableData)]="data"></app-table>
    </ng-container>
    <ng-container *ngIf="type=='pie'">
        <app-pie [(pieData)]="data"></app-pie>
    </ng-container>
    <ng-container *ngIf="type=='line'">
        <app-line [(lineData)]="data"></app-line>
    </ng-container>
    <ng-container *ngIf="type=='bar'">
        <app-bar [(barData)]="data"></app-bar>
    </ng-container>
    <ng-container *ngIf="type=='info'">
        <app-info></app-info>
    </ng-container>
</div>