<div class="d-flex flex-column w-100 h-100" style="background: rgba(145, 234, 228, 0.25);">
    <div class="flex-grow-1" style="overflow-y: scroll;">
        <div style="max-height:75vh;">
            <div class="py-3">
                <div class="chart-container mx-auto"
                    style="max-width:768px;position:relative;height:100%; width:100%!important;">
                    <canvas id="year_vs_startupsfounded"></canvas>
                </div>
            </div>
            <div class="py-3">
                <div class="chart-container mx-auto"
                    style="max-width:768px;position:relative;height:100%; width:100%!important;">
                    <canvas id="year_vs_totalfunding"></canvas>
                </div>
            </div>
            <div class="py-3">
                <div class="chart-container mx-auto"
                    style="max-width:768px;position:relative;height:100%; width:100%!important;">
                    <canvas id="quarter_vs_startupsfounded"></canvas>
                </div>
            </div>
            <div class="py-3">
                <div class="chart-container mx-auto"
                    style="max-width:768px;position:relative;height:100%; width:100%!important;">
                    <canvas id="quarter_vs_totalfunding"></canvas>
                </div>
            </div>
            <div class="py-3">
                <div class="chart-container mx-auto"
                    style="max-width:768px;position:relative;height:100%; width:100%!important;">
                    <canvas id="month_vs_startupsfounded"></canvas>
                </div>
            </div>
            <div class="py-3">
                <div class="chart-container mx-auto"
                    style="max-width:768px;position:relative;height:100%; width:100%!important;">
                    <canvas id="month_vs_totalfunding"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>