<div class="d-flex flex-column w-100 h-100"
    style="background: linear-gradient(to right, rgba(236, 0, 140, 0.25), rgba(252, 103, 103, 0.25));">
    <div class="flex-grow-1" style="overflow-y: scroll;">
        <div style="max-height:75vh;">
            <div class="row w-100 m-0 p-0">
                <div class="col-md-6 p-0 my-2">
                    <p class="text-center m-0 py-1 font-weight-bold">Market Type</p>
                    <div class="chart-container mx-auto"
                        style="max-width:768px;position:relative;height:100%; width:100%!important;">
                        <canvas id="market_pie"></canvas>
                    </div>
                </div>
                <div class="col-md-6 p-0 my-2">
                    <p class="text-center m-0 py-1 font-weight-bold">Operational Status</p>
                    <div class="chart-container mx-auto"
                        style="max-width:768px;position:relative;height:100%; width:100%!important;">
                        <canvas id="status_pie"></canvas>
                    </div>
                </div>
            </div>
            <div class="row w-100 m-0 p-0">
                <div class="col-md-6 p-0 my-2">
                    <p class="text-center m-0 py-1 font-weight-bold">Country Division</p>
                    <div class="chart-container mx-auto"
                        style="max-width:768px;position:relative;height:100%; width:100%!important;">
                        <canvas id="country_pie"></canvas>
                    </div>
                </div>
                <div class="col-md-6 p-0 my-2">
                    <p class="text-center m-0 py-1 font-weight-bold">State Division</p>
                    <div class="chart-container mx-auto"
                        style="max-width:768px;position:relative;height:100%; width:100%!important;">
                        <canvas id="state_pie"></canvas>
                    </div>
                </div>
            </div>
            <div class="row w-100 m-0 p-0">
                <div class="col-md-6 p-0 my-2">
                    <p class="text-center m-0 py-1 font-weight-bold">Founding Month</p>
                    <div class="chart-container mx-auto"
                        style="max-width:768px;position:relative;height:100%; width:100%!important;">
                        <canvas id="founding_month_pie"></canvas>
                    </div>
                </div>
                <div class="col-md-6 p-0 my-2">
                    <p class="text-center m-0 py-1 font-weight-bold">Founding Year</p>
                    <div class="chart-container mx-auto"
                        style="max-width:768px;position:relative;height:100%; width:100%!important;">
                        <canvas id="founding_year_pie"></canvas>
                    </div>
                </div>
            </div>
            <div class="row w-100 m-0 p-0">
                <div class="col-md-6 p-0 my-2">
                    <p class="text-center m-0 py-1 font-weight-bold">Funding Rounds</p>
                    <div class="chart-container mx-auto"
                        style="max-width:768px;position:relative;height:100%; width:100%!important;">
                        <canvas id="funding_pie"></canvas>
                    </div>
                </div>
                <div class="col-md-6 p-0">
                </div>
            </div>
        </div>
    </div>
</div>