#sidebar {
  width: 280px;
  transition: 0.5s;
}

#sidebarToggleBtn {
  border: none;
  padding: 0;
  background-color: transparent;
  width: 50px;
  height: 50px;
}

#sidebarToggleBtn:hover {
  background-color: lightgray;
  border-radius: 50px;
}

#sidebarToggleBtn:focus {
  outline: none;
}

.sidebarItem {
  height: 50px;
}

.sidebarItem > span {
  font-size: larger;
}

.sidebarItem:hover {
  transition: 0.3s;
  background-color: lightgray;
  cursor: pointer;
}
