<div class="wrapper h-100 border-right" id="sidebar">
    <div class="text-right border-bottom m-0">
        <button style="width:56px;height:56px;" id="sidebarToggleBtn" (click)="toggle()">Toggle</button>
    </div>
    <div class="d-flex flex-column">
        <div class="d-flex flex-row sidebarItem border-bottom" style="width:100%;height:50px;"
            (click)="switchChartType('table')">
            <span class="text-nowrap text-center" style="padding:13px 0px;width:56px;height:50px;">
                <i class="px-auto fa fa-table" aria-hidden="true" style="width:56px;font-size: 24px;"></i>
            </span>
            <span class="sidebarItemText text-nowrap w-100" style="height:50px;padding:13px 0px;font-size:18px;">Table</span>
        </div>
        <div class="d-flex flex-row sidebarItem border-bottom" style="width:100%;height:50px;"
            (click)="switchChartType('pie')">
            <span class="text-nowrap text-center" style="padding:13px 0px;width:56px;height:50px;">
                <i class="px-auto fa fa-pie-chart" aria-hidden="true" style="width:56px;font-size: 24px;"></i>
            </span>
            <span class="sidebarItemText text-nowrap w-100" style="height:50px;padding:13px 0px;font-size:18px;">Pie Chart</span>
        </div>
        <div class="d-flex flex-row sidebarItem border-bottom" style="width:100%;height:50px;"
            (click)="switchChartType('line')">
            <span class="text-nowrap text-center" style="padding:13px 0px;width:56px;height:50px;">
                <i class="px-auto fa fa-line-chart" aria-hidden="true" style="width:56px;font-size: 24px;"></i>
            </span>
            <span class="sidebarItemText text-nowrap w-100" style="height:50px;padding:13px 0px;font-size:18px;">Line Chart</span>
        </div>
        <div class="d-flex flex-row sidebarItem border-bottom" style="width:100%;height:50px;"
            (click)="switchChartType('area')">
            <span class="text-nowrap text-center" style="padding:13px 0px;width:56px;height:50px;">
                <i class="px-auto fa fa-area-chart" aria-hidden="true" style="width:56px;font-size: 24px;"></i>
            </span>
            <span class="sidebarItemText text-nowrap w-100" style="height:50px;padding:13px 0px;font-size:18px;">Area Chart</span>
        </div>
        <div class="d-flex flex-row sidebarItem border-bottom" style="width:100%;height:50px;"
            (click)="switchChartType('bar')">
            <span class="text-nowrap text-center" style="padding:13px 0px;width:56px;height:50px;">
                <i class="px-auto fa fa-bar-chart" aria-hidden="true" style="width:56px;font-size: 24px;"></i>
            </span>
            <span class="sidebarItemText text-nowrap w-100" style="height:50px;padding:13px 0px;font-size:18px;">Bar Chart</span>
        </div>
    </div>
</div>