<div class="d-flex flex-column w-100 h-100 border">
    <span class="w-100">Data Table</span>
    <div class="flex-grow-1">
        <table class="table table-bordered m-0 h-100" style="table-layout:fixed;" id="table">
            <div class="table-responsive h-100">
                <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
                    <thead style="position: sticky;top: 0">
                        <tr>
                            <th scope="col">sno</th>
                            <th scope="col">permalink</th>
                            <th scope="col">name</th>
                            <th scope="col">homepage_url</th>
                            <th scope="col">category_list</th>
                            <th scope="col">market</th>
                            <th scope="col">funding_total_usd</th>
                            <th scope="col">status</th>
                            <th scope="col">country_code</th>
                            <th scope="col">state_code</th>
                            <th scope="col">region</th>
                            <th scope="col">city</th>
                            <th scope="col">funding_rounds</th>
                            <th scope="col">founded_at</th>
                            <th scope="col">founded_month</th>
                            <th scope="col">founded_quarter</th>
                            <th scope="col">founded_year</th>
                            <th scope="col">first_funding_at</th>
                            <th scope="col">last_funding_at</th>
                            <th scope="col">seed</th>
                            <th scope="col">venture</th>
                            <th scope="col">equity_crowdfunding</th>
                            <th scope="col">undisclosed</th>
                            <th scope="col">convertible_note</th>
                            <th scope="col">debt_financing</th>
                            <th scope="col">angel</th>
                            <th scope="col">grant</th>
                            <th scope="col">private_equity</th>
                            <th scope="col">post_ipo_equity</th>
                            <th scope="col">post_ipo_debt</th>
                            <th scope="col">secondary_market</th>
                            <th scope="col">product_crowdfunding</th>
                            <th scope="col">round_A</th>
                            <th scope="col">round_B</th>
                            <th scope="col">round_C</th>
                            <th scope="col">round_D</th>
                            <th scope="col">round_E</th>
                            <th scope="col">round_F</th>
                            <th scope="col">round_G</th>
                            <th scope="col">round_H</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *cdkVirtualFor="let item of tableData;let i = index" class="example-item">
                            <th scope="row">{{i+1}}</th>
                            <td>{{item.permalink}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.homepage_url}}</td>
                            <td>{{item.category_list}}</td>
                            <td>{{item.market}}</td>
                            <td>{{item.funding_total_usd}}</td>
                            <td>{{item.status}}</td>
                            <td>{{item.country_code}}</td>
                            <td>{{item.state_code}}</td>
                            <td>{{item.region}}</td>
                            <td>{{item.city}}</td>
                            <td>{{item.funding_rounds}}</td>
                            <td>{{item.founded_at}}</td>
                            <td>{{item.founded_month}}</td>
                            <td>{{item.founded_quarter}}</td>
                            <td>{{item.founded_year}}</td>
                            <td>{{item.first_funding_at}}</td>
                            <td>{{item.last_funding_at}}</td>
                            <td>{{item.seed}}</td>
                            <td>{{item.venture}}</td>
                            <td>{{item.equity_crowdfunding}}</td>
                            <td>{{item.undisclosed}}</td>
                            <td>{{item.convertible_note}}</td>
                            <td>{{item.debt_financing}}</td>
                            <td>{{item.angel}}</td>
                            <td>{{item.grant}}</td>
                            <td>{{item.private_equity}}</td>
                            <td>{{item.post_ipo_equity}}</td>
                            <td>{{item.post_ipo_debt}}</td>
                            <td>{{item.secondary_market}}</td>
                            <td>{{item.product_crowdfunding}}</td>
                            <td>{{item.round_A}}</td>
                            <td>{{item.round_B}}</td>
                            <td>{{item.round_C}}</td>
                            <td>{{item.round_D}}</td>
                            <td>{{item.round_E}}</td>
                            <td>{{item.round_F}}</td>
                            <td>{{item.round_G}}</td>
                            <td>{{item.round_H}}</td>
                        </tr>
                    </tbody>
                </cdk-virtual-scroll-viewport>
            </div>
        </table>
    </div>
</div>
<!-- <cdk-virtual-scroll-viewport itemSize="2" class="example-viewport">
    <div *cdkVirtualFor="let item of data" class="example-item">{{item.name}}</div>
</cdk-virtual-scroll-viewport> -->